<p-card>
    <div class="banner">
        @if(course){
        <img src="{{ course.banner }}" alt="Portada del curso" class="banner-image">
        <h3>{{ course.name }}</h3>
        }@else {
        <p-skeleton width="100%" height="6rem" styleClass="mb-2" />
        <p-skeleton width="100%" height="4rem" styleClass="mb-2" />
        }
    </div>
    <div class="p-6">
        <p class="m-0 mb-3">
            {{ course?.description }}
        </p>
        <div class="flex justify-content-between">
            <h3 class="text-gray-900 font-bold mb-4">Contenido</h3>
            <div>
                <button pButton type="button" icon="pi pi-plus" (click)="showAddTopicDialog()"
                    class="p-button-rounded mb-4"></button>
            </div>
        </div>

        @if (nodes && nodes.length > 0) {
            <p-tree [value]="nodes" 
            selectionMode="single" 
            class="w-full md:w-30rem" 
            (onNodeExpand)="onNodeExpand($event)"
            (onNodeSelect)="onNodeSelect($event)"
            [contextMenu]="cm"
            [(selection)]="selectedNode"
            (onContextMenuSelect)="onContextMenuSelect($event)">
        <ng-template let-node pTemplate="default">
            <div class="flex align-items-center gap-2">
                <i *ngIf="node.type === 'video'" class="pi pi-video"></i>
                <span [class.font-bold]="!node.type">{{ node.label }}</span>
            </div>
        </ng-template>
    </p-tree>
        }@else if (loading){
        @for (item of items; track $index) {
        <p-skeleton width="100%" height="2rem" styleClass="mb-2" />
        }
        }@else if (!loading) {
        <p>No hay contenido disponible</p>
        }
    </div>
</p-card>

<!-- Diálogo para agregar tema -->
<p-dialog header="Agregar Tema" [(visible)]="showDialog" [modal]="true" [responsive]="true" [style]="{width: '450px'}"
    styleClass="p-fluid">
    <app-topic-form [form]="topicForm" (cancel)="close()" (save)="save($event)" />
</p-dialog>

<p-contextMenu #cm [model]="contextMenuItems" />

<!-- Diálogo para mostrar video -->
<p-dialog header="{{selectedVideo?.label}}" 
          [(visible)]="showVideoDialog" 
          [modal]="true" 
          [maximizable]="true"
          [responsive]="true"
          [ngClass]="'custom-padding-dialog'"
          [style]="{
            width: '80vw'
          }" 
          (onHide)="onVideoDialogHide()">
    <div class="video-container" *ngIf="selectedVideo">
        <iframe 
            [src]="selectedVideo.data | safe" 
            width="100%" 
            height="480" 
            frameborder="0" 
            allowfullscreen>
        </iframe>
    </div>
</p-dialog>




<p-dialog header="Agregar Video" 
          [(visible)]="showVideoFormDialog" 
          [modal]="true" [responsive]="true"
    [style]="{width: '450px'}" styleClass="p-fluid">
    <app-video-form [form]="videoForm" (cancel)="closeVideoFormDialog()" (save)="saveVideo($event)"/>
</p-dialog>

<p-confirmDialog />
<p-toast />