
    <form [formGroup]="form">
        <div class="p-fluid p-formgrid p-grid">
            <div class="field p-col-12 p-md-6">
                <label for="craft">Manual:</label>
                <p-dropdown id="craft" [options]="crafts" optionLabel="name" formControlName="craftId" optionValue="id"
                    appendTo="body" [showClear]="true" placeholder="Seleccione un Manual"></p-dropdown>
                <small class="p-error" *ngIf="submitted && form.get('craftId')?.invalid">Craft is
                    required.</small>
            </div>
            <app-file-upload
            [acceptedFileTypes]="['.pdf', '.docx', '.ppt', '.pptx', '.png', '.jpg']"
            [maxFileSize]="100"
            [multiple]="true"
            [maxFiles]="30"
            (filesSelected)="onSelectedFiles($event)"
          ></app-file-upload>
        </div>

    </form>

