    <form [formGroup]="areaForm" (ngSubmit)="onSubmit()">
      <div class="field">
        <label for="name">Nombre:</label>
        <input type="text" pInputText id="name" formControlName="name" required autofocus />
        <small class="p-error" *ngIf="submitted && areaForm.get('name')?.invalid">Name is required.</small>
      </div>
      <div class="field">
        <label for="miningUnit">Unidad Minera:</label>
        <p-dropdown [options]="miningUnits" formControlName="miningUnitId" 
          optionLabel="name" optionValue="id" [filter]="true"
          filterBy="name" [showClear]="true" 
          placeholder="Seleccione una Unidad Minera" appendTo="body">
          <ng-template let-miningUnit pTemplate="item">
            <div class="flex align-items-center gap-2">
              <img src="{{miningUnit.urlLogo}}" style="width: 18px" />
              <div>{{ miningUnit.name }}</div>
            </div>
          </ng-template>
        </p-dropdown>
        <small class="p-error" *ngIf="submitted && areaForm.get('miningUnitId')?.invalid">
          Mining Unit is required.
        </small>
      </div>
      <div class="field">
        <label for="status">Estado:</label>
        <p-dropdown [options]="statuses" formControlName="statusId" 
          optionLabel="description" optionValue="id" [showClear]="true"
          placeholder="Seleccione un Estado" appendTo="body">
          <ng-template let-option pTemplate="item">
            <app-status [status]="option"></app-status>
          </ng-template>
        </p-dropdown>
        <small class="p-error" *ngIf="submitted && areaForm.get('statusId')?.invalid">
          Status is required.
        </small>
      </div>
      <div class="flex align-items-end  justify-content-end mt-4">
        <button pButton  label="Cancelar" icon="pi pi-times" 
          class="p-button-text mr-2" type="button" (click)="onCancel()">
        </button>
        <button pButton  label="Guardar" icon="pi pi-check" 
          class="p-button-text" type="submit">
        </button>
      </div>
    </form>