<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="field">
      <label for="name">Nombre:</label>
      <input type="text" pInputText id="name" formControlName="name" required autofocus />
      <small class="p-error" *ngIf="submitted && form.get('name')?.invalid">Name is required.</small>
    </div>
    <div class="field">
      <label for="equipment">Equipo:</label>
      <p-dropdown [options]="equipments" formControlName="equipmentId" optionLabel="name" 
      optionValue="id" [showClear]="true" placeholder="Seleccionar un Equipo" appendTo="body"
      
      >
      </p-dropdown>
      <small class="p-error" *ngIf="submitted && form.get('equipmentId')?.invalid">Equipment is required.</small>
    </div>
    <div class="field">
      <label for="status">Estado:</label>
      <p-dropdown [options]="statuses" formControlName="statusId" [showClear]="true"  optionLabel="description" optionValue="id" placeholder="Select Status" appendTo="body">
      </p-dropdown>
      <small class="p-error" *ngIf="submitted && form.get('statusId')?.invalid">Status is required.</small>
    </div>
    <div class="flex align-items-end  justify-content-end mt-4">
      <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="onCancel()"></button>
      <button type="submit" pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text"></button>
  </div>
  </form>
