<div class="card">
  <p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
      <button pButton pRipple label="Nuevo" icon="pi pi-plus" 
        class="p-button-success mr-2" (click)="openNew()">
      </button>
    </ng-template>
  </p-toolbar>

  <p-table #dt [value]="items" [rows]="10" [paginator]="true"
    [globalFilterFields]="['name','miningUnit.name','status.name']" 
    [rowHover]="true" dataKey="id"
    currentPageReportTemplate="Mostrando de {first} a {last} de {totalRecords} entradas" 
    [showCurrentPageReport]="true" styleClass="p-datatable-sm">
    <ng-template pTemplate="caption">
      <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
        <h5 class="m-0">Administrar Áreas</h5>
        <span class="block mt-2 md:mt-0 p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" 
            (input)="onGlobalFilter(dt, $event)" 
            placeholder="Buscar..." class="w-full sm:w-auto" />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="name">Nombre <p-sortIcon field="name"></p-sortIcon></th>
        <th pSortableColumn="miningUnit.name">
          Unidad Minera <p-sortIcon field="miningUnit.name"></p-sortIcon>
        </th>
        <th pSortableColumn="status.name">
          Estado <p-sortIcon field="status.name"></p-sortIcon>
        </th>
        <th pSortableColumn="createdAt">
          Fecha de adición <p-sortIcon field="createdAt"></p-sortIcon>
        </th>
        <th>Acciones</th>
      </tr>
      <tr>
        <th>
            <p-columnFilter 
                type="text" 
                field="name" 
                placeholder="Buscar..."
                ariaLabel="Filtrar por nombre"
                (input)="onColumnFilter(dt, 'name', $event)"
                [showMatchModes]="false">
            </p-columnFilter>

        </th>
        <th>
          <p-columnFilter 
              field="miningUnit.id" 
              matchMode="equals" 
              [showMenu]="false">
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                  <p-dropdown 
                      [options]="miningUnits" 
                      (onChange)="filter($event.value)"
                      placeholder="Seleccionar unidad minera"
                      [showClear]="true"
                      appendTo="body"
                      [ngModel]="value" 
                      optionLabel="name"
                      optionValue="id">
                      <ng-template let-selectedOption pTemplate="selectedItem">
                      <div class="flex align-items-center gap-2">
                          <img src="{{selectedOption.urlLogo}}" style="width: 18px" />
                          <div>{{ selectedOption.name }}</div>
                      </div>
                      </ng-template>
                      <ng-template let-option pTemplate="item">
                          <div class="flex align-items-center gap-2">
                              <img src="{{option.urlLogo}}" style="width: 18px" />
                              <div>{{ option.name }}</div>
                          </div>
                      </ng-template>
                  </p-dropdown>
              </ng-template>
          </p-columnFilter>
      </th>
      <th>
        <p-columnFilter 
            field="status.id" 
            matchMode="equals" 
            [showMenu]="false">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-dropdown 
                    [options]="statuses" 
                    (onChange)="filter($event.value)" 
                    placeholder="Seleccionar estado" 
                    [showClear]="true"
                    appendTo="body"
                    [ngModel]="value" 
                    optionLabel="description"
                    optionValue="id">
                    <ng-template let-selectedStatus pTemplate="selectedItem">
                    <div class="flex align-items-center gap-2">
                    
                        <app-status [status]="selectedStatus"></app-status>

                    </div>
                    </ng-template>
                    <ng-template let-option pTemplate="item">
                        <app-status [status]="option"></app-status>
                    </ng-template>
                </p-dropdown>
            </ng-template>
        </p-columnFilter>
    </th>
        <th>
          <p-columnFilter 
              type="date" 
              field="createdAt" 
              placeholder="Buscar..."
              ariaLabel="Filtrar por fecha de adición"
              (onChange)="onColumnFilter(dt, 'createdAt', $event)"
              [showMatchModes]="false">
          </p-columnFilter>
        </th>
        <th></th>
      </tr>

    </ng-template>
    <ng-template pTemplate="body" let-area>
      <tr>
        <td>{{area.name}}</td>
        <td>{{area.miningUnit?.name}}</td>
        <td><app-status [status]="area.status"></app-status></td>
        <td>{{area.createdAt}}</td>
        <td>
          <button pButton pRipple icon="pi pi-pencil" 
            class="p-button-rounded p-button-success mr-2"
            (click)="editArea(area)">
          </button>
          <button pButton pRipple icon="pi pi-trash" 
            class="p-button-rounded p-button-warning"
            (click)="confirmDelete(area, 'esta área')">
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]="dialogVisible" [style]="{width: '450px'}" 
  header="Administrar Áreas" [modal]="true" styleClass="p-fluid">
  <app-area-form
    [area]="selectedItem"
    [submitted]="submitted"
    [miningUnits]="miningUnits"
    [statuses]="statuses"
    (save)="saveArea($event)"
    (cancel)="hideDialog()">
  </app-area-form>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>