<p-toast></p-toast>
    
<div class="card">
  <p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
      <button pButton pRipple label="Nuevo" icon="pi pi-plus" 
        class="p-button-success mr-2" (click)="openNew()">
      </button>
    </ng-template>
  </p-toolbar>

  <p-table #dt [value]="items" [paginator]="true" [rows]="5" [showCurrentPageReport]="true" 
  currentPageReportTemplate="{first} a {last} de {totalRecords}" responsiveLayout="stack" [breakpoint]="'670px'" 
  [responsive]="true" [rowsPerPageOptions]="[10, 25, 50]" styleClass="p-datatable-sm">
    <ng-template pTemplate="caption">
      <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
        <h5 class="m-0">Administrar Manuales</h5>
        <span class="block mt-2 md:mt-0 p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" 
            (input)="onGlobalFilter(dt, $event)" 
            placeholder="Buscar..." class="w-full sm:w-auto" />
        </span>
      </div>
    </ng-template>
    
    <ng-template pTemplate="header">
      <tr>
        <th>Nombre</th>
        <th>Equipo</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </ng-template>
    
    <ng-template pTemplate="body" let-craft>
      <tr>
        <td>{{craft?.name}}</td>
        <td>{{craft?.equipment?.name}}</td>
        <td><app-status [status]="craft.status"></app-status></td>
        <td>
          <button pButton type="button" icon="pi pi-pencil" 
            (click)="editCraft(craft)" 
            class="p-button-rounded p-button-success mr-2">
          </button>
          <button pButton type="button" icon="pi pi-trash" 
            (click)="confirmDelete(craft, 'este manual')" 
            class="p-button-rounded p-button-danger">
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-dialog [(visible)]="dialogVisible" [style]="{width: '450px'}" 
    header="Administrar Manuales" [modal]="true" styleClass="p-fluid">
    <app-craft-form
      [craft]="selectedItem"
      [submitted]="submitted"
      [equipments]="equipments"
      [statuses]="statuses"
      (save)="saveCraft($event)"
      (cancel)="hideDialog()">
    </app-craft-form>
  </p-dialog>

  <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
</div>