<p-toast></p-toast>
<div class="card">
  <p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
      <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
    </ng-template>
  </p-toolbar>

  <p-table #dt [value]="miningUnits" [rows]="10" [paginator]="true" [globalFilterFields]="['name','urlLogo']"
    [rowHover]="true" dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
      <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
        <h5 class="m-0">Administrar Unidades Mineras</h5>
        <span class="block mt-2 md:mt-0 p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."
            class="w-full sm:w-auto" />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
        <th pSortableColumn="urlLogo">Imagen <p-sortIcon field="urlLogo"></p-sortIcon></th>
        <th pSortableColumn="urlLogo">URL Logo <p-sortIcon field="urlLogo"></p-sortIcon></th>
        <th pSortableColumn="status.name">Estado <p-sortIcon field="status.name"></p-sortIcon></th>
        <th>Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-miningUnit>
      <tr>
        <td>{{miningUnit.name}}</td>
        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Image</span>
          <img [src]="miningUnit.urlLogo" [alt]="miningUnit.urlLogo" width="80" />
        </td>
        <td><a pTooltip="{{miningUnit.urlLogo}}" href="{{miningUnit.urlLogo}}"
            target="_blank">{{truncateUrlLogo(miningUnit.urlLogo)}}</a></td>
        <td><app-status [status]="miningUnit.status"></app-status></td>

        <td>
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
            (click)="editMiningUnit(miningUnit)"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
            (click)="deleteSelectedMiningUnit(miningUnit)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]="miningUnitDialog" [style]="{width: '450px'}" header="Unidad Minera" [modal]="true"
  styleClass="p-fluid">
  <form [formGroup]="miningUnitForm" (ngSubmit)="saveMiningUnit()">
    <div class="field mb-4">
      <label for="name">Nombre</label>
      <input type="text" pInputText id="name" formControlName="name" required autofocus />
      <small class="p-error" *ngIf="submitted && miningUnitForm.get('name')?.invalid">Name is required.</small>
    </div>

    <div class="field">
      <label for="urlLogo">URL Logo</label>
      <input type="text" pInputText id="urlLogo" formControlName="urlLogo" />
    </div>
  </form>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveMiningUnit()"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>