<p-toast></p-toast>
<div class="card">
  <p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
      <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2"
        (click)="openNew()"></button>
    </ng-template>
    <ng-template pTemplate="right">

    </ng-template>


  </p-toolbar>

  <p-table #dt [value]="equipments" [rows]="10" [paginator]="true"
    [globalFilterFields]="['name','area.name','status.name']" [rowHover]="true" dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true" styleClass="p-datatable-sm">
    <ng-template pTemplate="caption" >
      <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
        <h5 class="m-0">Administrar Equipos</h5>
        <span class="block mt-2 md:mt-0 p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."
            class="w-full sm:w-auto" />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="name">Nombre <p-sortIcon field="name"></p-sortIcon></th>
        <th pSortableColumn="area.name">Área <p-sortIcon field="area.name"></p-sortIcon></th>
        <th pSortableColumn="status.name">Estado <p-sortIcon field="status.name"></p-sortIcon></th>
        <th>Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-equipment>
      <tr>
        <td>{{equipment.name}}</td>
        <td>{{equipment.area?.name}}</td>
        <td><app-status [status]="equipment.status"></app-status></td>
        <td>
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
            (click)="editEquipment(equipment)"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
            (click)="deleteEquipment(equipment)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]="equipmentDialog" [style]="{width: '450px'}" header="Administrar Equipos" [modal]="true"
  styleClass="p-fluid">
  <app-equipment-form [form]="equipmentForm" [equipment]="selectedEquipment" [areas]="areas" [statuses]="statuses"
    (save)="saveEquipment($event)" (cancel)="hideDialog()"></app-equipment-form>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>