<div class="card">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2"
                (click)="openNew()"></button>
        </ng-template>
    </p-toolbar>
    <p-table #dt [value]="documents" [rows]="10" [paginator]="true" [scrollable]="true" 
        [globalFilterFields]="['name','draft.name','status.name']" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Mostrando de {first} a {last} de {totalRecords} entradas"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                <h5 class="m-0">Administrar Documentos</h5>
                <span class="block mt-2 md:mt-0 p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."
                        class="w-full sm:w-auto" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Nombre</th>
                <th>URL</th>
                <th>Manual</th>
                <th>Estado</th>
                <th alignFrozen="right" pFrozenColumn [frozen]="true">Acciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-document>
            <tr>
                <td>{{document.name}}</td>
                <td><a href="{{document.url}}" target="_blank">{{document.url}}</a></td>
                <td>{{document.craft.name}}</td>
                <td><app-status [status]="document.status"></app-status></td>
                <td alignFrozen="right" pFrozenColumn [frozen]="true">
                    <button pButton type="button" icon="pi pi-pencil" (click)="editDocument(document)"
                        class="p-button-rounded p-button-success mr-2"></button>
                    <button pButton type="button" icon="pi pi-trash" (click)="deleteDocument(document.id)"
                        class="p-button-rounded p-button-danger"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>


<p-dialog [(visible)]="documentDialog" [style]="{width: '450px'}" header="Administrar Áreas" [modal]="true"
    styleClass="p-fluid">
    <app-document-form [form]="documentForm" [document]="selectedDocument" [crafts]="crafts" [statuses]="statuses"
        (save)="onSubmit($event)" (cancel)="hideDialog()"></app-document-form>
</p-dialog>


<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

<p-toast></p-toast>