<div class="card">
    <p-treeTable #tt [value]="files" [columns]="cols" [filterMode]="filterMode" [lazy]="true" [paginator]="true"
        [rows]="5" [rowsPerPageOptions]="[5, 10, 25]" [scrollable]="false" dataKey="id"
        currentPageReportTemplate="Mostrando de {first} a {last} de {totalRecords} entradas"
        
        [tableStyle]="{'min-width':'50rem'}" 
        styleClass="p-treetable-sm"
        (onNodeExpand)="onNodeExpand($event)">

        <ng-template pTemplate="caption">
            <div class="flex justify-content-between align-items-center">
                <button pButton label="Nueva Unidad Minera" icon="pi pi-plus" class="p-button-outlined "
                    (click)="showCreateDialog('miningUnit')">
                </button>
                <div class="flex align-items-center">
                    <button pButton icon="pi pi-refresh" class="p-button-outlined mr-2" (click)="reloadData()">
                    </button>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" placeholder="Buscar..." (input)="onGlobalFilter(tt, $event)" />
                    </span>
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" [ttSortableColumn]="col.field">
                    {{ col.header }}
                    <p-treeTableSortIcon [field]="col.field"></p-treeTableSortIcon>
                </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    <ng-container [ngSwitch]="col.field">
                        <ng-container *ngSwitchCase="'name'">
                            <span class="flex align-items-center">
                                <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                                <i [class]="rowData.type | typeIcon" class="mr-2"></i>
                                {{ rowData[col.field] }}
                            </span>
                        </ng-container>
                        <ng-container *ngSwitchCase="'status'">
                            <app-status [status]="rowData[col.field]"></app-status>
                        </ng-container>
                        <ng-container *ngSwitchCase="'createdAt'">
                            {{ rowData[col.field]}}
                        </ng-container>
                        <ng-container *ngSwitchCase="'actions'">
                            <div class="flex">
                                <ng-container [ngSwitch]="rowData.type">
                                    <ng-container *ngSwitchCase="'miningUnit'">
                                        <button pButton icon="pi pi-plus"
                                            class="p-button-outlined p-button-rounded p-button-text p-button-success mr-2"
                                            (click)="showCreateDialog('area', rowNode)">
                                        </button>
                                        <button pButton icon="pi pi-pencil"
                                            class="p-button-outlined p-button-rounded p-button-text mr-2"
                                            (click)="showCreateDialog('miningUnit', rowNode, rowData)"></button>
                                        <button pButton icon="pi pi-trash"
                                            class="p-button-outlined p-button-rounded p-button-text p-button-danger mr-2"
                                            (click)="deleteItem(rowNode)"></button>
                                    </ng-container>
                                    <ng-container *ngSwitchCase="'area'">
                                        <button pButton icon="pi pi-plus"
                                            class="p-button-outlined p-button-rounded p-button-text p-button-success mr-2"
                                            (click)="showCreateDialog('equipment', rowNode)">
                                        </button>
                                        <button pButton icon="pi pi-pencil"
                                            class="p-button-outlined p-button-rounded p-button-text mr-2"
                                            (click)="showCreateDialog('area', rowNode, rowData)"></button>
                                        <button pButton icon="pi pi-trash"
                                            class="p-button-outlined p-button-rounded p-button-text p-button-danger mr-2"
                                            (click)="deleteItem(rowNode)"></button>
                                    </ng-container>
                                    <ng-container *ngSwitchCase="'equipment'">
                                        <button pButton icon="pi pi-plus"
                                            class="p-button-outlined p-button-rounded p-button-text p-button-success mr-2"
                                            (click)="showCreateDialog('craft', rowNode)">
                                        </button>
                                        <button pButton icon="pi pi-pencil"
                                            class="p-button-outlined p-button-rounded p-button-text mr-2"
                                            (click)="showCreateDialog('equipment', rowNode, rowData)"></button>
                                        <button pButton icon="pi pi-trash"
                                            class="p-button-outlined p-button-rounded p-button-text p-button-danger mr-2"
                                            (click)="deleteItem(rowNode)"></button>
                                    </ng-container>
                                    <ng-container *ngSwitchCase="'craft'">
                                        <button pButton icon="pi pi-plus"
                                            class="p-button-outlined p-button-rounded p-button-text p-button-success mr-2"
                                            (click)="showCreateDialog('document', rowNode)">
                                        </button>
                                        <button pButton icon="pi pi-pencil"
                                            class="p-button-outlined p-button-rounded p-button-text mr-2"
                                            (click)="showCreateDialog('craft', rowNode, rowData)"></button>
                                        <button pButton icon="pi pi-trash"
                                            class="p-button-outlined p-button-rounded p-button-text p-button-danger mr-2"
                                            (click)="deleteItem(rowNode)"></button>
                                    </ng-container>
                                    <ng-container *ngSwitchCase="'document'">
                                        <button pButton class="p-button-outlined p-button-rounded p-button-text mr-2"
                                            icon="pi pi-window-maximize" (click)="openFile(rowData)"></button>
                                        <button pButton class="p-button-outlined p-button-rounded p-button-text mr-2"
                                            icon="pi pi-download" (click)="openFile(rowData)"></button>
                                        <button pButton icon="pi pi-trash"
                                            class="p-button-outlined p-button-rounded p-button-text p-button-danger mr-2"
                                            (click)="deleteItem(rowNode)"></button>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </ng-container>

                        <ng-container *ngSwitchDefault>
                            {{ rowData[col.field] }}
                        </ng-container>
                    </ng-container>
                </td>
            </tr>
        </ng-template>
    </p-treeTable>

    <p-dialog [(visible)]="displayDialog"
        [header]="isEditMode ? 'Editar ' +   getCurrentName() : 'Crear ' + getCurrentName()" [modal]="true"
        [style]="{width: '450px'}" styleClass="p-fluid">

        @switch (currentItemType) {
        @case ('miningUnit'){
        <app-mining-unit-form [form]="form" [selectedItem]="newItemData" [miningUnits]="items" [statuses]="statuses"
            (save)="saveNewItem($event)" (cancel)="onCancel()"></app-mining-unit-form>
        }
        @case ('area'){
        <app-area-form [areaForm]="form" [area]="newItemData" [miningUnits]="items" [statuses]="statuses"
            (save)="saveNewItem($event)" (cancel)="onCancel()"></app-area-form>

        }
        @case ('equipment'){
        <app-equipment-form [form]="form" [equipment]="newItemData" [areas]="items" [statuses]="statuses"
            (save)="saveNewItem($event)" (cancel)="onCancel()"></app-equipment-form>
        }
        @case ('craft'){
        <app-craft-form [form]="form" [craft]="newItemData" [equipments]="items" [statuses]="statuses"
            (save)="saveNewItem($event)" (cancel)="onCancel()"></app-craft-form>
        }
        @case ('document'){
        <app-document-form [form]="form" [document]="newItemData" [crafts]="items" [statuses]="statuses"
            (save)="saveNewItem($event)" (cancel)="onCancel()"></app-document-form>
        }
        }
    </p-dialog>
</div>


<p-toast></p-toast>